<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Типы новостей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Типы новостей</a></li>
                <li class="nav-item"><a href="/news" class="nav-link">Новости</a></li>
            </ul>
        </header>
    </div>
    <div class="container mt-5">
        <h4>Типы новостей</h4>
        <div th:each="element : ${newsTypes}" class="alert alert-info mt-2">
            <h5 th:text="${element.getName()}"></h5>
            <p th:text="${element.getColor()}"></p>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <a th:href="'/news-type/' + ${element.getId()} + '/edit'" class="btn btn-success btn-sm">Редактировать</a>
                        </div>
                        <div class="col">
                            <form th:action="'/news-type/' + ${element.getId()} + '/remove'" method="post">
                                <button class="btn btn-danger btn-sm" type="submit">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <a th:href="'/news-type/' + ${element.getId()} + '/list'" class="btn btn-info btn-sm">Показать все новости данного типа</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <h6>Добавить тип новостей</h6>
        <div class="alert alert-dark mt-2">
            <form action="/news-type/add" method="post">
                <input type="text" name="name" placeholder="Введите название новости" class="form-control"><br>
                <input type="text" name="color" placeholder="Введите цвет новости" class="form-control"><br><br>
                <button type="submit" class="btn btn-success">Добавить тип новость</button>
            </form>
        </div>
    </div>
</body>
</html>